body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

.header {
	padding: 1em;
	width: 39em;
	height: 2em;
	margin-top: 0em;
	align-content: space-around;

	line-height: 2em;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
}

.flexcontainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flexcontainer.column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flexcontainer.row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flexcontainer.column.center, .flexcontainer.row.center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flexcontainer th {
	border: 0.175em solid black;
	width: 14em;
}


.flexcontainer td {
	border: 0.14em solid black;
}
